:root {
  --primary-100: #ffffff;
  --primary-200: #f9f9fb;
  --primary-300: rgb(239, 240, 241);
  --text-100: #f9f9fb;
  --bg-100: #000000;
  --bg-200: #161616;
  --bg-300: #2c2c2c;

  --ion-toolbar-background: var(--primary-100);
  --ion-card-background: var(--primary-300);
  --ion-color-field-background: var(--primary-200);
  --ion-color-step-100: var(--primary-100);
  --ion-text-color-rgb: 141, 139, 139;
  --ion-text-color: var(--bg-200);
  --ion-background-color: var(--primary-100);

  --ion-color-primary: var(--bg-100);
  --ion-color-primary-rgb: 0, 0, 0;
  --ion-color-primary-contrast: var(--primary-100);
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: var(--bg-200);
  --ion-color-primary-tint: var(--bg-200);

  --ion-color-light: var(--primary-200);
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: var(--bg-100);
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: var(--primary-100);
  --ion-color-light-tint: var(--primary-100);

  --ion-color-success: #0fba9b;
  --ion-color-success-rgb: 15, 186, 155;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #0da488;
  --ion-color-success-tint: #27c1a5;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
}
