@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

html {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  -webkit-user-select: none !important;
}
html::-webkit-scrollbar {
  display: none !important;
}
section {
  margin-bottom: 0.6rem;
}
h1 {
  font-size: large;
  font-weight: bold;
}
h2 {
  font-size: medium;
  font-weight: bold;
}
p {
  font-size: small;
}
p {
  margin-bottom: 0.9rem;
}

/*ion-content::part(scroll) {
  padding-top: var(--ion-safe-area-top, 0);
}*/
